
*{
  margin:0;
  padding:0;
}
html, body{
    width:100%;
    height:100%;
    background-color : #FFFFFF;
}
p{
     color : #757373;
}

/*body-app -- start*/
.body-app{
  margin-bottom:20px;
}
/*body-app -- end*/

/*header -- start*/
.header{
    background-image: url(../images/coffee2.jpg) ;
    background-repeat: repeat;
    width:100% ;
    height:45px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-family : 微软雅黑,宋体;
    font-size : 1em;
    color : #f00;
   @at-root{
    .header-li{
    margin:10px;
    text-align:center;
    float:left;
    }
    .li-left{
    font-size:16px;
    color:#fff;
    }
    .li-right{
    font-size:16px;
    font-color:#fff;
    }
   }
}
/*header -- end*/

/*container -- start*/
.container{
   width:70%;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
   padding:20px;
   margin:auto;
   margin-top:15px;
   background-color:#fdfdfd;
}
/*container -- end*/

/*line -- start*/
.bottom-bar{
  margin-top:20px;
  margin-bottom:30px;
  margin-left:8%;
}
.line{
  width:90%;
  henght:2px;
  border-top: 1px solid #aaa;

}
/*line -- end*/
